[
  {
    "pattern": "đã phía chú",
    "replacement": "đọc ghi chú",
    "regex": false,
    "ignore_case": true
  },
  {
    "pattern": "\\bnào,?\\s*ghi chú\\b",
    "replacement": "đọc ghi chú",
    "regex": true,
    "ignore_case": true
  },
  {
    "pattern": "ghi chu",
    "replacement": "ghi chú",
    "regex": false,
    "ignore_case": true
  },
  {
    "pattern": "sờ dư",
    "replacement": "số dư",
    "regex": false,
    "ignore_case": true
  }
]
